{% extends 'base.html' %}

{% block head_title %} {{ block.super }}  {% endblock %}

{% block content %}

<h1 class="text-center">About the Precision Medicine Portal</h1>
<p>The genomic profile of African individuals and individuals of
    recent African descends house a huge amount of diversity. Genomic diversity
    is associated with susceptibility and predisposition to various communicable and
    non-communicable diseases in the African continent. Similarly, the genomic diversity
    has also been associated to various therapies deployed for various diseases</p>

<h1 class="text-center">Objectives</h1>
<ul>
<li>For all H3Africa diseases, identify/search for/define existing treatment models and implement these models into a computer platform </li>
<li>Explore how these models can be improved/adapted to the African context using H3Africa data.</li> 
<li>phamarcogenetics portal with genes involved in ADMET and the African specific variants.</li>
<li>Cancer genomics portal – genotype-phenotype portal </li>
</ul>

{% endblock content %}
